html{
background-color:black;
text-align:center;
}
.cnth{
font-family: 'Langar', cursive;
text-align:center;
color:white;
}
footer{
border:red solid 3px;
border-radius:150px 150px 0px 0px;
}

.footer{
border:red solid 3px;
border-radius:0px 0px 150px 150px;
}
